/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

* {
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
}
:root {
  --body-background-color: oklch(12.9% 0.042 264.695);
  --submit-btn: oklch(58.8% 0.158 241.966);
  --font-color: whitesmoke;
}
body {
  background-color: var(--body-background-color);
}

.auth-btn {
  padding: 16px;
  background-color: white;
  color: black;
  border: 2px solid aqua;
}

.main {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: aquamarine;
}

/* sign up css */
.login-title,
.recovery-title {
  color: var(--font-color);
  font-weight: 900;
  width: fit-content;
  align-self: center;
  text-align: center;
}

.login-container,
.recovery-container {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  /* width: fit-content; */
  height: 97vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
  width: 500px;
  height: 100%;
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.recovery-form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
  width: 500px;
  height: 500px;
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.input {
  color: var(--font-color);
  margin: 10px;
  width: 80%;
  height: 20px;
  padding: 12px 15px;
  align-items: center;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid rgba(29, 29, 29, 0.797);
  background-color: rgba(128, 128, 128, 0.333);
  backdrop-filter: blur(5px);
  margin-bottom: 20px;
}

.login-confirm {
  margin-bottom: 5px;
}

.confirm-reminder,
.description {
  margin: 0;
  /* border: 2px solid; */
  font-size: 14px;
  width: 86%;

  color: rgba(178, 178, 178, 0.618);
  padding: 0;
}

.description {
  font-size: 16px;
  margin: 0 0 40px;
}

.login-label,
.label {
  padding-left: 10px;
  color: var(--font-color);
  width: 89%;
}

.login-submit {
  /* color: black; */
  margin-top: 70px;
  font-size: 16px;
  font-weight: 600;
  width: 88%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--submit-btn);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transition: 0.3s;
  color: var(--font-color);
}

.login-submit:hover {
  transform: scale(105%);
}

.forgot-password {
  /* border: 2px solid; */
  margin: 0;
  padding: 4px;
  text-decoration: none;
  color: var(--submit-btn);
}

/* recovery page */

.recovery-security-questions {
  color: var(--font-color);
  margin: 10px;
  width: 87%;
  height: 50px;
  font-size: 18px;
  padding: 10px 20px;
  /* align-items: center; */
  border-radius: 8px;
  /* border: 2px solid rgba(29, 29, 29, 0.797); */
  background-color: rgba(128, 128, 128, 0.333);
}
